# AWS IoT Core
AWS_REGION=us-east-1
AWS_IOT_ENDPOINT=a1jg5cptbrzoqy-ats.iot.us-east-1.amazonaws.com
AWS_IOT_OTP_TOPIC=mfa/otp
AWS_IOT_RESULT_TOPIC=mfa/result
AWS_IOT_CLIENT_ID=mfa-web-backend
MFA_CLOUD_DEVICE_ID=mfa-token-simulator
AWS_IOT_RESULT_TIMEOUT_MS=8000

# Express
PORT=3001

# Do not put AWS credentials in this file.
# The backend AWS IoT SDK uses the standard AWS credential chain.
